BasedOnStyle: LLVM

Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false

ColumnLimit: 0

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBinaryOperators: None
BinPackArguments: true
BinPackParameters: true

AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignTrailingComments: false

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false

NamespaceIndentation: None

AccessModifierOffset: -4

ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeComma

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

ReflowComments: false
SortIncludes: Never