[submodule "Vendors/vcpkg"]
	path = Vendors/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "Vendors/directxtk"]
	path = Vendors/directxtk
	url = https://github.com/microsoft/DirectXTK.git
